.flex-events {

    display: flex;
    flex-wrap: wrap;


}

.flex-events>* {
    border: solid #545454 1px;
    color: #D9DCDA;
    margin: 1.5%;
    padding: 10px;
}

.event-container {
    width: 30%;
    border-radius: 10px;
}

.event-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.title,
.desc {

    color: #545454;

}

.flex-boton {

    display: flex;
    justify-content: flex-start;
}

.boton {
    background-color: #545454;
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 17px;
    width: 200px;
    height: 75px;
    margin: 10px;
}

.boton:hover {

    background-color: #888888;
}