@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}


input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
}

.container2 {
    background-color: #FF944E;
    width: 40%;
    height: 100%;
    position: fixed;

}

.container3 {
    text-align: left;

}

.container4 {

    width: 60%;
    height: 100%;
    position: fixed;
    right: 0;

}

.centered {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FF944E;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;

}

img.avatar {
    width: 30%;
    border-radius: 50%;
}

.image {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    width: 75%;
    left: 50%;
}


label.left {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container>div {

    padding: 10px;
    flex: 3 100%;
    border-radius: 25px;
}

.button {
    background-color: #545454;
    color: white;
    padding: 20px 0px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 40%;


}

.span {

    text-align: center;
}

span.psw {
    padding-top: 16px;

}