@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}


input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 20px;
    
}

.regcontainer {

   
    width: 50%;
    height: auto;
    background-color: #FF944E;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }



  .reg-centered {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FF944E;
    border-radius: 20px;
  }

  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  
  }

  img.logo {

    width: 40%;
    border-radius: 30px;
  
  }

  .container1 {

    padding-left: 10%;
    padding-right: 10%;
    
  
  }

  label.left {
    text-align: center;
  }

  .flex-container {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
  }
  
  .flex-container>div {
  
    padding: 10px;
    flex: 3 100%;
    border-radius: 25px;
  }

  .button {
    background-color: #545454;
    color: white;
    padding: 20px 0px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 40%;
  
  
  
  }