.cent {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    color: #545454;
    padding: 15px;

    font-size: 30px;
}

main {

    margin-inline: 40px;
    height: 60dvh;
}

.semi {

    color: #545454;
    margin-block: 20px;
}

.tabl {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

/* table {

    
    width: 75%;
    border: 1px solid #545454;
    
}

table th {

    padding: 20px;
    background-color: #545454;
    color: white;
}


table td {

    text-align: center;
    padding: 10px;
    
}

table th, td {

    border: 1px solid #545454;
} */

table, td, th {  
    border: 1px solid #545454;
    text-align: left;

    font-size: 20px;
  }
  
  table {
    border-collapse: collapse;
    width: 70%;
  }
  
  th, td {
    padding: 15px;
  }

  th {

    text-align: center;
    background-color: #545454;
    color: white;
  }