


.desc {
    margin: 20px;
    padding: 15px;
    width: auto;
    font-size: 24px;
    line-height: 1.8;
    text-align: justify;
    color: #545454;
    background-color: #c7c7c7;
    border-radius: 15px;
}

.cent {

    text-align: center;

    padding: 15px;

    font-size: 30px;
}

