.welc h1 {

    width: 100%;
    text-align: center;
    line-height: 1.2;
    color: #545454;
    margin-block: 30px;

}

.welc {

    font-size: 20px;
}

.welc h3 {

    text-align: center;
    line-height: 1.7;
    color: #545454;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 700;

}

.front-img {


    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;



}

.left {

    margin: 30px;
    font-size: 20px;
    color: #545454;


}

.object {


    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.box {

    background-color: #c7c7c7;
    border: 2px solid #FF944E;
    border-radius: 30px;
    margin: 40px;
    padding: 50px 10px;
    width: 350px;
    text-align: center;
    color: #545454;
    font-size: 20px;
    line-height: 1.8;


}

.sec {

    margin: 50px;
}

.focus {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    

    height: AUTO;
}

.foc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    margin: 30px;
    color: #545454;
    border: 1.5px solid #545454;
    border-radius: 25px;
    width: 29%;
    height: auto;



}

.foc h3 {

    font-size: 20px;
}

.size {
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: center;
}













.carousel {
    animation: carousel 10s ease-in-out infinite;
}

@keyframes carousel {

    0%,
    20% {
        transform: translateY(0);
    }

    25%,
    45% {
        transform: translateY(-25%)
    }

    50%,
    70% {
        transform: translateY(-50%)
    }

    75%,
    95% {
        transform: translateY(-75%)
    }

    100% {
        transform: translateY(-100%)
    }
}

.frame {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.pic {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%);
}